<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eRegistrar Student Registration - Edit</title>
  <link rel="stylesheet" href="your-styles.css">
</head>
<body>
<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
  <nav>
    <a href="/">Home</a> |
    <a href="/eregistrar/students/about">About</a> |
    <a href="/eregistrar/students/list">Students</a>
  </nav>
</header>
<main>
  <h1>Update Student Form</h1>
  <div class="form-container">
    <p>Fields marked with asterisk (*) are required.</p>
    <form method="post" action="/eregistrar/students/update" th:object="${student}">
      <fieldset>
        <input name="studentId" type="hidden" th:value="${student.studentId}">

        <div class="form-group">
          <label><span class="label-bold">First Name*</span></label>
          <div>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error-text"></span>
            <input name="firstName" type="text" th:value="${student.firstName}" autofocus>
          </div>
        </div>

        <div class="form-group">
          <label ><span class="label-bold">Middle Name</span></label>
          <div>
            <input name="middleName" type="text" th:field="${student.middleName}">
          </div>
        </div>

        <div class="form-group">
          <label><span class="label-bold">Last Name*</span></label>
          <div>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error-text"></span>
            <input name="lastName" type="text" th:value="${student.lastName}" autofocus>
          </div>

        </div>

        <div>
          <label><span style="font-weight: bold">Student Number</span></label>
        </div>
        <div><span th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}" style="color:red;"></span></div>
        <div>
          <input name="studentNumber" type="text" th:field="${student.studentNumber}">
        </div>
        <div>
          <label><span style="font-weight: bold">Enrollment Date</span></label>
        </div>
        <div>
          <div><span th:if="${#fields.hasErrors('enrollmentDate')}" th:errors="*{enrollmentDate}" style="color:red;"></span></div>
          <input name="enrollmentDate" type="date" th:field="${student.enrollmentDate}">
        </div>
        <div>
          <label><span style="font-weight: bold">CGPA</span></label>
        </div>
        <div>
          <input name="cgpa" type="text" th:field="${student.cgpa}">
        </div>
        <div>
          <label><span style="font-weight: bold">Is International?</span></label>
        </div>
        <div><span th:if="${#fields.hasErrors('isInternational')}" th:errors="*{isInternational}" style="color:red;"></span></div>
        <select name="isInternational" th:field="${student.isInternational}">
          <option th:value="'Yes'" th:text="Yes"></option>
          <option th:value="'No'" th:text="No"></option>
        </select>
        <div>
          <label><span style="font-weight: bold">Gender*</span></label>
        </div>
        <div><span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" style="color:red;"></span></div>
        <div>
          <input type="radio" th:field="*{gender}" id="male" value="Male">
          <label for="male">Male</label>
        </div>
        <div>
          <input type="radio" th:field="*{gender}" id="female" value="Female">
          <label for="female">Female</label>
        </div>
        <div>
          <input type="radio" th:field="*{gender}" id="other" value="Other">
          <label for="other">Other</label>
        </div>
        <div>
          <label><span style="font-weight: bold">Is FPP Student?</span></label>
        </div>
        <input  type="checkbox" th:field="*{fpp}" id="isFPP">
        <label  for="isFPP">
          FPP
        </label>
        <!-- Add more form fields following the same structure -->

      </fieldset>
      <div class="form-actions">
        <a class="std-lnk-btn" href="/eregistrar/students/list">Cancel</a>
        <input class="std-btn" type="reset" value="Reset">
        <input class="std-btn" type="submit" value="Edit Student">
      </div>
    </form>
  </div>
</main>
</body>
</html>